#container {
    background-color: #fafafa;
}

#movie-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.movie {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px, rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
    max-width: 450px;
}

img {
    padding: 5px;
    display: block;
    margin: 0 auto;
}

h3 {
    text-align: center;
    color: black;
    text-shadow: 1px 1px lightgrey;
}

li {
    list-style: none;
    margin: 0;
}

li::before {
    content: "» ";
}

p {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.green {
    color: #23550c;
}

.red {
    color: #5f0606;
}

/* RIBBON */

.box {
    position: relative;
    border: 1px solid #BBB;
    background: #EEE;
}

.ribbon {
position: absolute;
right: -5px; top: -5px;
z-index: 1;
overflow: hidden;
width: 75px; height: 75px;
text-align: right;
}

.ribbon span {
font-size: 10px;
font-weight: bold;
color: #FFF;
text-transform: uppercase;
text-align: center;
line-height: 20px;
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
width: 100px;
display: block;
background: #79A70A;
background: linear-gradient(#9BC90D 0%, #79A70A 100%);
box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
position: absolute;
top: 19px; right: -21px;
}

.ribbon span::before {
content: "";
position: absolute; left: 0px; top: 100%;
z-index: -1;
border-left: 3px solid #79A70A;
border-right: 3px solid transparent;
border-bottom: 3px solid transparent;
border-top: 3px solid #79A70A;
}

.ribbon span::after {
content: "";
position: absolute; right: 0px; top: 100%;
z-index: -1;
border-left: 3px solid transparent;
border-right: 3px solid #79A70A;
border-bottom: 3px solid transparent;
border-top: 3px solid #79A70A;
}