<div id="container">
    <h1>Select two movies to compare</h1>
    <div fxLayout.xs="column" fxLayoutAlign.xs="center center" id="movie-search-container">  
    <app-movie-search-left (cchange)="catchL($event)" #left></app-movie-search-left>
    <app-movie-search-right (cchange)="catchR($event)" #right></app-movie-search-right>
    </div>  
    <div fxLayout="column" fxLayoutAlign="center center">
        <div>
            <a (click)="toggleCompare()" href="#compare" matTooltip="Compare" mat-button>
                <mat-icon>compare_arrows</mat-icon>
            </a>
            <button (click)="left.clearSelection(); right.clearSelection()" matTooltip="Clear selections" mat-button>
                <mat-icon>restore_from_trash</mat-icon>
            </button>
        </div>
        <p id="error">{{error}}</p>
    </div>
</div>

<div *ngIf="compare">
<app-compare 
    id="compare"
    [style.height.px]="height"  
    [movieLeft]="movieLeft"
    [movieRight]="movieRight"
    [first]="first"
    [second]="second">
</app-compare>
</div>