@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Oswald');

html {
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: whitesmoke; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: snow; 
  }

